.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.textField{
  color: green;
}

.adminItem {
  border-color: green;
  background-color: azure;
}

.adminItem:hover{
  background-color: rgb(140, 240, 118);
  cursor: pointer;
}

.tableItem{
 padding: 5px 0;
  width: 33vw;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  flex-wrap: wrap;
  text-decoration: none;
}

.feed, .chatBut {
  position: fixed;
  right: 4vw;
  bottom: 15vh;
}

.wrap{
  overflow: scroll;
}

.inline-block {
  width: min-content;
}

/* .chatBut{
  position: fixed;
  right: 3vw;
  bottom: 10vh;
} */

.petCard {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  /* font-family: 'Work Sans', sans-serif; */
  background-color: white;
  margin-left: 5px;
}

.petCard:hover{
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.updateForm{
  width: 450px;
}

.updateSmallForm{
  width: 300px;
} 

.petAvatar-danger {
  border: 7px solid rgb(215, 58, 58);
}
.petAvatar-warning {
  border: 7px solid rgb(238, 199, 60);
}
.petAvatar-success {
  border: 7px solid rgb(15, 159, 27);
}

.aStatus {
  font-family: "DynaPuff", cursive;
  font-size: 20px;
}

.link{
  text-decoration: none;
}

.dropdown{
  position: absolute;
  right:120px
}

.holder{
  position: relative;
}

.winp{
  width: 111px;
}

.inputLable{
  margin-top: 129px;
}

.homeContainer {
  font-family: "DynaPuff", cursive;
  color: green;
  font-size: 30px;
  text-align: center;
  white-space: pre-line;
}

.errorHolder {
  height: 65px;
  color: rgb(231, 29, 29);
  text-align: center;
}

.advanced {
  font-size: small;
}

.settings {
  text-transform: none;
  color: green;
  padding-left: 5px;
}

.navBar {
  height: 45px;
  border-radius: 6px;
  margin-top: 5px;
  /* border: 1px solid green; */
  background-color: rgba(237, 218, 47, 0.6);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
