.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.errorHolder{
  height: 65px;
  color: rgb(231, 29, 29);
  text-align: center;
}

.searchBar{
  height: 80vh;
}

.advanced{
  font-size: small;
}

.settings{
  text-transform: none;
  color: green;
  padding-left: 5px;
}

.navBar{
  height: 45px;
  border-radius: 6px;
  margin-top: 5px;
  /* border: 1px solid green; */
  background-color: rgba(237, 218, 47, 0.6);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
