.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.petCard {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  /* font-family: 'Work Sans', sans-serif; */
}

.updateForm{
  width: 450px;
}

.updateSmallForm{
  width: 300px;
 color:gr
} 

.petAvatar-danger {
  border: 7px solid rgb(215, 58, 58);
}
.petAvatar-warning {
  border: 7px solid rgb(238, 199, 60);
}
.petAvatar-success {
  border: 7px solid rgb(15, 159, 27);
}

.aStatus {
  font-family: "DynaPuff", cursive;
  font-size: 20px;
}

.homeContainer {
  font-family: "DynaPuff", cursive;
  color: green;
  font-size: 30px;
  text-align: center;
}

.errorHolder {
  height: 65px;
  color: rgb(231, 29, 29);
  text-align: center;
}

.advanced {
  font-size: small;
}

.settings {
  text-transform: none;
  color: green;
  padding-left: 5px;
}

.navBar {
  height: 45px;
  border-radius: 6px;
  margin-top: 5px;
  /* border: 1px solid green; */
  background-color: rgba(237, 218, 47, 0.6);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
